
body{
	font-family: 'source-sans-pro';
	color: #ffffff;
	padding: 0;
	margin: 0;
}

.first{
	background: url('jardin-des-envies6.png') no-repeat;
	background-size: cover;
	height: 910.7px;
}



.icon-bar {
	width: 34px;
	height: 4px;
	background-color: #ffffff;
	display: block;
	transition: all 0.2s;
	margin: 4px 0;
}

header{
	margin-right: 5%;
	margin-left: 5%;
}
.navbar{
	/* margin: auto; */
	display: flex;
	align-items: center;
}
.navbar-nav{
	flex: 2;
	align-self: center;
	display: flex;
	/* flex-flow: row nowrap; */
 }

[class*="nav-item"]{
	flex: auto;
	white-space: nowrap;
	background: url('flechep.png') no-repeat center left;
	background-size: auto;
	padding-left: 5px;
}

[class*="nav-link"]{
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	transition: all 0.5s;
}

.nav-link:hover,.nav-link:focus,.nav-link:active{
	color: #00bcd4;
}


.title{
	align-self: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

.title h1{
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 80px;
	letter-spacing: 0.05em;
	text-align: center;
	padding-top: 3em;
	padding-bottom: 0;
	margin: auto;
}

.title h3{
	font-family: 'Montserrat-Light';
	color: #fbfbf8;
	font-weight: normal;
	letter-spacing: 0.05em;
	margin-top: 0;
	font-size: 19px;
	opacity: 0.7;
	
}

.link{
	border: 2px solid #ffa742;
	border-radius: 3px;
	margin-top: 25px;
	height: 40px;
	text-align: center;
	display: flex;
	justify-content: center;

}
.link a {
	text-decoration: none;
	font-family: 'Montserrat';
	color: #fbfbf8;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	margin: auto;
	padding: 0 17px;
}
.link:hover {
	background-color: #ffa742;
}

#info{
	background: url('3-layers-1.png') fixed no-repeat center center;
	background-size: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	color: black;
	position: static;

}

#info h1 {
	color: #ffa742;
	background: url('stars.jpg') no-repeat bottom center;
	font-family: 'HerrVonMuellerhoff-Regular';
	font-weight: 400;
	font-size: 100px;
	padding-bottom: 15px;
}
#info div p{
	align-self: center;
	font-size: 16px;
	margin: 3px;
	letter-spacing: 0.05em;
}
#info div {
	margin-top: 10px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: #5f727f;
}

#info a {
	font-family: 'Montserrat';
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: underline;
	letter-spacing: 1px;
	color: #ecbb83;
	margin: 45px;

}

#res_contact{
	background: url('jardin-des-envies3.jpeg') fixed no-repeat center center;
	background-size: cover;
	height: 800px;
	padding: 8em 5%;
}

.img{
	flex: auto;
	margin-top: 80px;
}
.img img{
	width: 404px;
	height: 409px;
}
.contener{
	background-color: white;
	color: black;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 40px 30px;
}
.nom{
	display: flex;
}

.nom p{
	flex: 1;
	display: flex;
	flex-flow: row wrap;
}


/* input[type="submit"]{
	width: auto;
	margin: auto;
} */
.form_res, .contact{
	flex: auto;
	/* padding: 1.1em; */
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

.contact{
	margin-top: 30px;
}

.form_res h1, .contact h1{
	font-weight: 700;
	color: #262626;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-family: 'Montserrat';
	margin-bottom: 25px;	
}

.contact h1{
	text-align: center;
}

label{
	font-weight: bold;
}

.contact p{
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	color: #505050;
	font-size: 15px
}
.form_res p{
	margin: auto;
	color: #5f727f;

}

.form-control{
/* 	margin: -10px;
 */}

.form_res {
	margin-right: 25px;  

}
.footer{
	margin: 1em 5em 1em 0;
	color: #5f727f;
	display: flex;
	justify-content: flex-end;
	align-items: center

}
.footer span{
	margin-left: 1em;
	font-size: 15px;
	font-weight: normal;
}

.scroll-top {
  	width: 50px;
  	height: 50px;
  	position: fixed;
  	bottom: 65px;
  	right: 30px;
  	display: none;
  	background-color: black;

	opacity: 0.5;
}

.top{
  	background: url('top.png') no-repeat center center;

}

.scroll-top i {
  	display: inline-block;

}


@media screen and (max-width: 1100px), screen and (max-width: 600px){

	/
	.first{
		background-size: auto;
		height: auto;
		display: flex;
		flex-flow: column nowrap;
	}

	.title{
		margin: 0;
		padding: 0;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
	}

	
	.title h1, .title h3{
		width: 100%;
		text-align: center;
		padding-top: 3em;
		padding-bottom: 0;
		margin: 0;
	}
	
	#res_contact{
		height: 100%;
		padding: 25px 0;
		margin: 0;

	}
	.contener{
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		align-items: center;	

	}
	.img, .form_res{
		flex: auto;

	}
	.contact{
		margin-top: 40px;
	}
	.form_res h1{
		text-align: center;
	}
}

@font-face{
	font-family: 'HerrVonMuellerhoff-Regular';
	src: url('police/HerrVonMuellerhoff-Regular.ttf');

}

@font-face{
	font-family: 'Montserrat-Light';
	src: url('police/Montserrat-Light.ttf');

}

@font-face{
	font-family: 'Montserrat';
	src: url('police/Montserrat-Regular.ttf'),
		url('police/Montserrat-Bold.ttf');

}

@font-face{
	font-family: 'source-sans-pro';
	src: url('police/source-sans-pro.regular.ttf');
}

@font-face{
	font-family: 'GeosansLight';
	src: url('police/GeosansLight.ttf'),url('police/GeosansLight-Oblique.ttf');

}


@font-face{
	font-family: 'opensans';
	src: url('police/open-sans/OpenSans-Bold.ttf'),
		 url('police/open-sans/OpenSans-BoldItalic.ttf'),
		 url('police/open-sans/OpenSans-ExtraBold.ttf'),
		 url('police/open-sans/OpenSans-Italic.ttf'),
		 url('police/open-sans/OpenSans-Light.ttf'),
		 url('police/open-sans/OpenSans-Semibold.ttf');
}