
body{
	font-family: 'source-sans-pro';
	color: #ffffff;
}

.first{
	background: url('jardin-des-envies6.png') no-repeat;
	background-size: auto;
	height: 910.7px;
	width: auto;
}



.icon-bar {
	width: 34px;
	height: 4px;
	background-color: #ffffff;
	display: block;
	transition: all 0.2s;
	margin: 4px 0;
}

.navbar{
	margin-left: 30px;

}
.collapse{
	display: flex;
	justify-content: center;
}
.navbar-nav{

}

[class*="nav-item"]{
	white-space: nowrap;
	background: url('flechep.png') no-repeat center left;
	background-size: auto;
	padding-left: 5px;
}

[class*="nav-link"]{
	font-size: 14px;
	text-transform: uppercase;
	color: #ffffff;
	transition: all 0.5s;
}

.nav-link:hover,.nav-link:focus,.nav-link:active{
	color: #00bcd4;
}


.title{
	align-self: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
}

.title h1{
	font-family: 'Montserrat';
	font-weight: bold;
	font-size: 80px;
	letter-spacing: 0.05em;
	text-align: center;
	padding-top: 3em;
	padding-bottom: 0;
	margin: auto;
}

.title h3{
	font-family: 'Montserrat-Light';
	color: #fbfbf8;
	font-weight: normal;
	letter-spacing: 0.05em;
	margin-top: 0;
	font-size: 19px;
	opacity: 0.7;
	
}

.link{
	border: 2px solid #ffa742;
	border-radius: 3px;
	margin-top: 25px;
	height: 40px;
	text-align: center;
	display: flex;
	justify-content: center;

}
.link a {
	text-decoration: none;
	font-family: 'Montserrat';
	color: #fbfbf8;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
	margin: auto;
	padding: 0 17px;
}
.link:hover {
	background-color: #ffa742;
}

#info{
	background: url('3-layers-1.png') fixed no-repeat center center;
	background-size: auto;
	width: 100%;
	height: 350px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	color: black;
	position: static;

}

#info h1 {
	color: #ffa742;
	font-family: 'HerrVonMuellerhoff-Regular';
	font-weight: 400;
	font-size: 100px;
	margin: 0;
}
#info div p{
	align-self: center;
	font-size: 16px;
	margin: 3px;
}
#info div {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	color: #5f727f;
}

#info a {
	font-family: 'Montserrat';
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fd971f;
	margin: 45px;

}

#res_contact{
	background: url('jardin-des-envies3.jpeg') fixed no-repeat center center;
	background-size: cover;
	height: 800px;
	padding: 8em 3em 50em 3em;
}

.img{
	flex: 1;
	align-self: flex-start;
	margin-top: 80px;
}
.img img{
	width: 404px;
	height: 409px;
}
.contener{
/* 	height: 678.8px;
 */	width: 1212px;
	background-color: white;
	color: black;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 40px 20px;
}
.nom{
	display: flex;
	flex-flow: row nowrap;
}

.nom p,  {
	flex: 1;
	display: flex;
	flex-flow: row wrap;

}
input{
	width: 100%;
	margin: auto;
}
input[type="submit"]{
	width: auto;
	margin: auto;
}
.form_res, .contact{
	flex: 1;
	padding: 1.1em;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
}
.form_res h1, .contact h1{
	font-weight: 700;
	color: #262626;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-family: 'Montserrat';	
}

.contact p{
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
	color: #505050;
	margin: 1em;
	font-size: 15px
}
.form_res p{
	margin-right: 25px;
	color: #5f727f;

}
.form_res {
	margin-right: 25px;  

}
.footer{
	margin: 1em 5em 1em 0;
	color: #5f727f;
	display: flex;
	justify-content: flex-end;
	align-items: center

}
.footer span{
	margin-left: 1em;
	font-size: 15px;
	font-weight: normal;
}

@media screen and (max-width: 1200px), screen and (max-width: 600px){

	/
	.first{
		background-size: auto;
		height: auto;
		display: flex;
		flex-flow: column nowrap;
	}

	.title{
		margin: 0;
		padding: 0;
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-start;
	}

	
	.title h1, .title h3{
		width: 100%;
		text-align: center;
		padding-top: 3em;
		padding-bottom: 0;
		margin: 0;
	}
	
	#res_contact{
		height: 100%;
		width: 100%;
		padding: 25px 0;
		margin: 0;

	}
	.contener{
		width: 100%;
		height: 100%;

		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		align-items: center;	

	}
}

@font-face{
	font-family: 'HerrVonMuellerhoff-Regular';
	src: url('police/HerrVonMuellerhoff-Regular.ttf');

}

@font-face{
	font-family: 'Montserrat-Light';
	src: url('police/Montserrat-Light.ttf');

}

@font-face{
	font-family: 'Montserrat';
	src: url('police/Montserrat-Regular.ttf'),
		url('police/Montserrat-Bold.ttf');

}

@font-face{
	font-family: 'source-sans-pro';
	src: url('police/source-sans-pro.regular.ttf');
}

@font-face{
	font-family: 'GeosansLight';
	src: url('police/GeosansLight.ttf'),url('police/GeosansLight-Oblique.ttf');

}


@font-face{
	font-family: 'opensans';
	src: url('police/open-sans/OpenSans-Bold.ttf'),
		 url('police/open-sans/OpenSans-BoldItalic.ttf'),
		 url('police/open-sans/OpenSans-ExtraBold.ttf'),
		 url('police/open-sans/OpenSans-Italic.ttf'),
		 url('police/open-sans/OpenSans-Light.ttf'),
		 url('police/open-sans/OpenSans-Semibold.ttf');
}